* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color:#1e202b;
}

small {
  color: #bfc1c8;
}

.nav-link {
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white !important;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 400;
}

.nav-link:hover {
  color: #009ad8 !important;
  border-color: #009ad8 !important;
}

.active {
  color: #009ad8 !important;
  border-color: #009ad8 !important;
  padding: 5px 25px !important;
}

.navbar {
  padding: 50px 0;
}

.navbar-brand {
  width: 12rem;
}

.navbar-nav {
  margin-right: 50px;
}

.nav-item {
  margin-right: 40px;
}

.navbar-brand-img {
  width: 64px;
  height: 100%;
}

.navbar-brand-img img {
  width: 100%;
}

.logo-content {
  line-height: 5px;
}

.logo-content h1 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.logo-content small {
  font-size: 10px;
  font-weight: 700;
}

.nav-bg {
  background-color: #1e202b;
}
.forecast-table {
  height: 40vh;
}
#hero {
  /* background-size: cover; */
  padding: 70px 0;
  height: 80vh;
  background-color: #1e202b;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
}

.find-location {
  position: relative;
  margin-bottom: 70px;
}
.find-location input[type='text'] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
}
form input,
form textarea,
form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

.find-location input[type='submit'],
.find-location input[type='button'] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
}

.button,
form input[type='submit'],
form input[type='button'],
form button,
form input[type='reset'] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.forecast-container {
  width: 100%;
  background: #323544;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  transform: translateY(-50%);
}

.forecast-container .forecast {
  width: 33.33%;
}

.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

.forecast-container .forecast.today .forecast-header .day {
  float: left;
}

.forecast-container .forecast.today .forecast-header .date {
  float: right;
}

.forecast-container .forecast.today .forecast-header:after {
  content: ' ';
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container .forecast.today .forecast-content {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.forecast-container .forecast.today .location {
  font-size: 18px;
  font-size: 1.2857142857em;
  font-weight: 400;
}

.forecast-container .forecast .forecast-content .degree {
  font-size: 24px;
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}

.forecast-content {
  padding: 50px 20px 10px;
}

.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}

.forecast-container .forecast.today .degree .num {
  font-size: 90px;
  font-size: 6.4285714286rem;
  margin-right: 30px;
}

.forecast-container .forecast.today .degree .num,
.forecast-container .forecast.today .degree .forecast-icon {
  display: inline-block;
  vertical-align: middle;
}

.custom {
  color: #009ad8;
  margin: 20px 0;
}

.forecast-container .forecast.today span {
  margin-right: 20px;
}

.forecast-container .forecast.today span img {
  margin-right: 5px;
  vertical-align: middle;
}

.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}

.forecast-container .forecast {
  width: 33.33%;
}

.site-footer {
  background: #262936;
  padding: 50px 0;
}

.site-footer {
  background: #262936;
  padding: 50px 0;
}

.site-footer .subscribe-form {
  position: relative;
  margin-bottom: 30px;
}

.site-footer .subscribe-form input[type='text'] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}

.site-footer .subscribe-form input[type='submit'] {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.site-footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
  font-size: 1.4285714286em;
}

.site-footer .social-links a:hover {
  background: #009ad8;
  color: white;
}

.colophon {
  color: #bfc1c8;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
